---

import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../layouts/BlogPost.astro';
import '../styles/global.css';

const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Astro Blog 29/06";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
	</head>
	<body>
		
		<BaseLayout pageTitle = {pageTitle}>

			<h2>Astro Blog Page</h2>

			<p>This is where I will post about my journey learning Astro</p>

			<ul>
			
				{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

			</ul>
			<p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

		</BaseLayout>
		<script>
			import '../scripts/menu.js'
		</script>
	</body>
</html>
