---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page 29/06";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitl from index.astroe </h2>
  <h5>is this part the injected slot??</h5>
</BaseLayout>