---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		<style>
            h1 {
                color: orange;
                font-size: 4rem;
            }
        </style>
	</head>
	<body>
		
		<Header />
			<p>this part is HEADER ELEMENT of words is from BaseLayout.astro. Edited 29/06/24. Have to think about how to use CSS TO DEcorate the header element</p>
				
			<slot />

		<Footer />
		<script>
			import '../scripts/menu.js'
		</script>
	  </body>
	</body>
</html>

